*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#checkAccount{
    display: none;
    color: red;
}
.main{
    margin-bottom: 100px;
}
.container{
    width: 500px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 20px;
}
.container input{
    width: 100%;
    margin: 5px 0px 20px 0px;
}
.title{
    text-align: center;
}
button{
    width: 460px;
}
footer{
    margin: 0;
}